* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: sans-serif;

    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 40rem;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label[for="costPrice"] {
    margin-top: 2rem;
}

.form-group input {
    padding: 0.5rem;
}

form > button {
    cursor: pointer;
    padding: 1.5rem;
}

.result {
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: green;
}

footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}