* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: sans-serif;

    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 40rem;
    width: 100%;
}